@using BlogCore.Business.Interfaces
@model ComentarioViewModel;
@inject IAppIdentityUser userApp;

<div class="row">
    <div class="col-sm-4">
        <span>@Model.NomeUsuario</span>
        <span>@Model.DataPublicacao</span>
    </div>
    <div class="col-sm-4">
        <p>@Model.Conteudo</p>
    </div>
    @if(userApp.IsAuthorized(Model.UsuarioId))
    {
        <div>
            <a asp-controller="Comentario" asp-action="Edit" asp-route-id="@Model.Id" asp-route-postId="@Model.PostId"/>
        </div>
        <div>
            <a asp-controller="Comentario" asp-action="Delete" asp-route-id="@Model.Id" asp-route-postId="@Model.PostId"/>
        </div>
    }
</div>